*{
    list-style-type: none;
    margin:0;
    padding:0;
    box-sizing: border-box;
    outline: none;
}
section{
    margin:50px auto;
}
.container{
    text-align: center;
}
.container>h1{
    font-size: 210%;
    margin:4px auto;
}
.container>p{
    font-style: italic;
    font-size: 83%;
}
.trends{
    margin:30px 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.trends>div{
    width: 275px;
    margin:30px auto;
}
.trends>div img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin:5px auto;
}
.trends .fa-fire{
    margin:0 4px;
    color: rgb(228 109 8);
}