
      .about-us-wrapper{
        width: 70%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        position: relative;
      } 

      .about-us-title {
        font-size: 18px;
        letter-spacing: 0.1em;
        color:black;
        font-family: "Sitara";
        margin: 0 auto;
        height: 30px;
      }

      .about-us-text{
        color:darkGray;
        font-size: 11px; 
      }


      .footer{
        width: 100%;
        height: 9%;
        background-color: rgb(49, 42, 42);
        color: white;
        bottom: -0.001%;
        position: fixed;
        font-size: 13px;
      }

      .footer-text-left{
        margin-top: 22px;
        float: left;
        position: inline-block;
        margin-left: 30px;
      }

      .footer-text-right{
        margin-top: 22px;
        float: right;
        position: inline-block;
        margin-right: 70px;
      }


      span{
        margin-left: 25px;
      }


    @media(max-width: 576px){
      .about-us-wrapper{
        width: 100%;
      }
      .footer-text-left{
        margin-left: 5px;
      }
      .footer-text-right{
        margin-right: 10px;
      }
      span{
        margin-left: 8px;
      }
    }

    @media(min-width: 576px) and (max-width: 768px){
      .about-us-wrapper{
        width: 90%;
      }
      .footer-text-left{
        margin-left: 20px;
      }
      .footer-text-right{
        margin-right: 50px;
      }
      span{
        margin-left: 10px;
      }
    }


    @media(min-width: 768px)and (max-width: 992px){
      .about-us-wrapper{
        width: 80%;
      }
      .footer-text-left{
        margin-left: 25px;
      }
      .footer-text-right{
        margin-right: 60px;
      }
      span{
        margin-left: 18px;
      }
    }


    @media(min-width: 992px)and (max-width: 1200px){
      .about-us-wrapper{
        width: 70%;
      }
      .footer-text-left{
        margin-left: 28px;
      }
      .footer-text-right{
        margin-right: 65px;
      }
      span{
        margin-left: 18px;
      }
    }


    @media (min-width: 1200px){
      .about-us-wrapper{
        width: 70%;
      }
      .footer{
        width: 100%;
      }
      .footer-text-left{
        margin-left: 30px;
      }
      .footer-text-right{
        margin-right: 70px;
      }
      span{
        margin-left: 20px;
      }
    }



